<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>

    
        
    <h1>All Products :</h1>
   


        <table id="table" >  
            <thead>  
                <tr class="table100-head">  
                    <th class="column">ID</th>  
                    <th class="column">Product name</th>  
                    <th class="column">Quantity</th>  
                    <th class="column">Price</th>  
                    <th class="column">Supplier</th>  
                    <th class="column">Category</th>  
                    <th style="width: 50px;" class="column"></th>  
                    <th style="width: 80px;" class="column"></th>  



                </tr>  
            </thead>  
             <tbody>  
             <% produits.forEach(function (prod) { %>
                <tr>  
                    <td class="column"><%= prod.id %> </td>  
                    <td class="column"><%= prod.nom %></td>  
                    <td class="column"><%= prod.quantite %></td>
                    <td class="column"><%= prod.prix %></td>
                    <td class="column"><%= prod.nomfour %></td>
                    <td class="column"><%= prod.categorie %></td>
                    <td><a href="/updateproduct/<%= prod.id %> " class="btn btn-outline-success"> UPDATE</a> </td>
                    
                    </td>
                    <td><a href="/delete/<%= prod.id %>" class="btn btn-outline-danger">Delete</a>

                </tr>
                                                   
             <% }) %>
             </tbody>
        </table>  
        <div class="form-group">
            <a style="margin-right: 50px;" type="button" href="/fournisseur"  class="btn btn-outline-primary">Browse suppliers</a>
            <a style="margin-right: 50px;" type="button" href="/addprod"  class="btn btn-outline-danger">Add Products</a>
            <a type="button" href="/rayon"  class="btn btn-outline-primary">Browse sections</a>
    
        </div>
        





        


</body>

</html>